<p>
  <b>Title:</b>
  <%= event.title %>
</p>
 
<p>
  <b>Date:</b>
  <%= event.date %>
</p>

<p>
  <b>Event:</b>
  <%= event.body %>
</p>
 
<p>
  <%= link_to 'Destroy Event', [event.user, event],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>