<<<<<<< HEAD
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/feedback">feedback page</a>.
</p>

=======
<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
>>>>>>> 26757e2a401091b80e8352c264b191333628db9b
