<<<<<<< HEAD
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
=======
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
>>>>>>> 26757e2a401091b80e8352c264b191333628db9b
